@model WebShopSOA.Domain.ViewModels.CatalogViewModel
@{
    ViewData["Title"] = "Товары";
    Layout = "_LayoutBreadCrumbs";
}

@await Html.PartialAsync(partialViewName: "Partial/_Advertisement")

<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                @await Html.PartialAsync(partialViewName: "Partial/_LeftSidebar")
            </div>

            <div class="col-sm-9 padding-right">
                <div id="items-container">
                    @await Html.PartialAsync("Partial/_ProductItems", Model.Products)
                </div>

                <paging page-model="@Model.PageViewModel"
                        page-action="Products"
                        page-url-CategoryId="@Model.CategoryId"
                        page-url-BrandId="@Model.BrandId"></paging>

                @* @await Html.PartialAsync("Partial/_CategoryTab") *@

                @* @await Html.PartialAsync("Partial/_RecommendedItems") *@
            </div>
        </div>
    </div>
</section>

@section Scripts{ 
    <script src="~/lib/jquery-loading-overlay/loadingoverlay.min.js"></script>
    <script src="~/js/Products/ProductItems.js" asp-append-version="true"></script>
    <script>
        ProductItems.init({
            getUrl: "@Url.Action("GetFilteredItems", "Catalog")"
        })
    </script>
}