@model WebShopSOA.Domain.ViewModels.BrandCompliteViewModel



<div class="brands_products">
    <!--brands_products-->
    <h2>Брэнды</h2>
    <div class="brands-name">
        <ul class="nav nav-pills nav-stacked">
            @foreach (var item in Model.Brands)
            {
                <li class="@(item.Id == Model.CurrentBrandId ? "active" : null)">
                    <a asp-controller="Catalog"
                       asp-action="Products"
                       asp-route-BrandId="@item.Id">
                        <span class="pull-right">(@item.ProductCount)</span>@item.Name
                    </a>
                </li>
            }
        </ul>
    </div>
</div><!--/brands_products-->