@{
    ViewData["Tile"] = "Ваш заказ принят.";
}

<div class="container">
    <div class="row">
        <h3>Ваш заказ под номером <span class="text-danger">@ViewData["Id"]</span> принят и в скором времени будет обработан.</h3>
    </div>
</div>